<h1>All Contacts</h1>
<%= @contacts.each do |contact| %>
  <h3>First Name:<%= contact.first_name %></h3>
  <h3>Middle Name:<%= contact.middle_name %></h3>
  <h3>Last Name:<%= contact.last_name %></h3>
  <h3>Email:<%= contact.email %></h3>
  <h3>Phone Number:<%= contact.phone_number %></h3>
  <h3>Bio:<%= contact.bio %></h3>
  <h4>------------------------------------------  </h4>
<% end %>